@import '/partials/mini';

body {
    height: 100vh;

    h1 {
        color: black;
        text-align: center;
        margin-top: 10%;
        font-size: 3em;
    }

    div {
        width: 100%;
        height:100%;
    }

    .image {
        position: absolute;
        top: 50%;
        width: 240px;
        height: 240px;
        margin:-60px 0 0 -60px;
        -webkit-animation:spin 4s linear infinite;
        -moz-animation:spin 4s linear infinite;
        animation:spin 4s linear infinite;
    }

    #react{
        left: 35%;
    }

    #webpack {
        left: 55%;
    }
    @-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
    @-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
    @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
}